<!DOCTYPE html >

<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Evento APP</title>
	
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    


</head>
<body>

<h1>Lista de Eventos</h1>

<h3><a href="/cadastrarevento">Cadastrar Evento</a></h3>

<table class="striped" style="font-family: sans-serif;">

<tr th:each="evento : ${eventos}">

	
	
		<td th:text="${evento.nome}"></td>
		<td th:text="${evento.local}"></td>
	 	<td th:text="${evento.data}"></td>
	 	<td th:text="${evento.horario}"></td>
	 	



</tr>
</table>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>


</body>

</html>